html,
body {
    font-family: 'Barlow Semi Condensed', sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding: 2vh 30px 3vh;
    background: radial-gradient(at top, $radial-gradient);
}

.board {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    padding: 10px;
    border: 2px solid $header-outline;
    border-radius: 10px;

    @include mq(sm) {
        padding: 12px 16px;
    }

    @include mq(md) {
        padding: 12px 18px;
    }

    @include mq(lg) {
        padding: 12px 20px;
    }

}

.logo {
    width: 85px;
    aspect-ratio: 162/99;

    @include mq(sm) {
        width: 100px;
    }
}

.score {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    border-radius: 4px;
    background-color: #fff;
    color: $text-dark;
    font-weight: 700;

    @include mq(sm) {
        padding: 10px 32px;
    }


    &__sign {
        text-transform: uppercase;
    }

    &__result {
        font-size: clamp(32px, 5vw, 46px);
    }
}

.game {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.select {
    height: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    aspect-ratio: 1/1;
    margin: 0 auto;

    &--active {
        height: auto;
    }
}

.options {
    position: relative;
    height: 50%;
    aspect-ratio: 313/278;
    margin: 0 auto;
    background-image: url('images/bg-triangle.svg');
    background-position: center;
    background-repeat: none;
    background-size: cover;
}

.option {
    position: absolute;
    width: 70%;
    aspect-ratio: 1/1;
    border-radius: 50%;

    &--rock {
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 50%);
        background: radial-gradient($rock-gradient);
    }

    &--paper {
        top: 0;
        left: 0;
        transform: translate(-50%, -50%);
        background: radial-gradient($paper-gradient);
    }

    &--scissors {
        top: 0;
        right: 0;
        transform: translate(50%, -50%);
        background: radial-gradient($scissors-gradient);
    }
}

.option__inside {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 45%;

    &--rock {
        background-image: url('images/icon-rock.svg');
    }

    &--paper {
        background-image: url('images/icon-paper.svg');
    }

    &--scissors {
        background-image: url('images/icon-scissors.svg');
    }
}

.duel {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
    grid-template-areas:
        'player ai'
        'result result';
    align-items: center;
    width: 100%;

    @include mq(md) {
        grid-template-columns: 35% auto 35%;
        grid-template-rows: auto;
        grid-template-areas:
            'player result ai';
    }
}

.duel__player {
    grid-area: player;
    width: 100%;
    height: 100%;
}

.duel__ai {
    grid-area: ai;
    width: 100%;
    height: 100%;
}

.duel__result {
    grid-area: result;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0 auto;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.duel__result-sign {
    color: #fff;
    font-size: 46px;
    font-weight: 700;
    text-transform: uppercase;
}

.duel__result-btn {
    width: 100%;
    padding: 10px 0;
    border-radius: 6px;
    background-color: #fff;
    color: hsl(237, 49%, 15%);
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;

    &:hover {
        color: hsl(349, 71%, 52%);
    }
}


.pick {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-template-areas:
        'option'
        'side'
    ;
    justify-content: center;

    @include mq(md) {
        grid-template-areas:
            'side'
            'option'
        ;
    }
}

.pick__side {
    grid-area: side;
    margin-top: 16px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;

    @include mq(md) {
        margin-top: 0;
        margin-bottom: 30px;
        font-size: 20px;
    }
}


.pick__option {
    grid-area: option;
    position: relative;
    width: 20vw;
    min-width: 100px;
    aspect-ratio: 1/1;
    margin: 0 auto;
    padding: 20px;
    background-color: transparent;
    border-radius: 50%;

    @include mq(sm) {
        min-width: 200px;
    }

    &--active {
        display: block;
    }

    &--rock {
        background: radial-gradient($rock-gradient);
    }

    &--paper {
        background: radial-gradient($paper-gradient);
    }

    &--scissors {
        background: radial-gradient($scissors-gradient);
    }
}

.pick__option-inside {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 45%;


    &--rock {
        background-image: url('images/icon-rock.svg');
    }

    &--paper {
        background-image: url('images/icon-paper.svg');
    }

    &--scissors {
        background-image: url('images/icon-scissors.svg');
    }
}

.pick__shadow {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: rgba(10, 10, 10, 10%);

    &--active {
        display: block;
    }
}

.rules__open-btn {
    padding: 10px 32px;
    border: 2px solid $header-outline;
    border-radius: 10px;
    background-color: transparent;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;

    &:hover {
        background-color: $header-outline;
        color: #000;
    }

    @include mq(lg) {
        position: fixed;
        bottom: 30px;
        right: 30px;
    }
}

.rules__info {
    display: none;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        'title'
        'description'
        'close';
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #fff;

    @include mq(md) {
        grid-template-columns: 50% 50%;
        grid-template-rows: auto 1fr;
        grid-template-areas:
            'title close'
            'description description';
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 400px;
        height: 400px;
        padding: 20px;
        border-radius: 8px;
    }

    &--active {
        display: grid;
    }
}

.rules__description {
    grid-area: description;
    align-self: center;

    @include mq(md) {
        justify-self: center;
    }
}

.rules__title {
    grid-area: title;
    text-align: center;
    text-transform: uppercase;
    align-self: center;
    color: hsl(237, 49%, 15%);
    font-size: 30px;
    font-weight: 700;

    @include mq(md) {
        text-align: start;
    }
}

.rules__close-btn {
    grid-area: close;
    justify-self: center;
    align-self: center;
    width: 30px;
    height: 30px;
    border: 0;
    background-color: transparent;
    background-image: url('images/icon-close.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;

    @include mq(md) {
        justify-self: end;
    }
}